<form action = "/user/create-post" method = "POST">
<label>Title</label>
<br>
<input type = "text" name = "title">
<br>
<label>Description</label>
<br>
<input type = "text" name = "description">
<br>
<label>Image (Optional)</label>
<br>
<input type = "text" name = "imageUrl">
<br>
<label>Choose a tag:</label>
<br>
<select name="tag">
    <option value="">--Please choose an option--</option>
    <option value="Stocks">Stocks</option>
    <option value="Forex">Forex</option>
    <option value="Commodities">Commodities</option>
    <option value="Cryptocurrencies">Cryptocurrencies</option>
    <option value="Futures">Futures</option>
    <option value="Indexes">Indexes</option>
</select>

<button type = "submit">Post!</button>
</form>