
<h1> Welcome to your profile {{username}}</h1>

<h2><img   class = "profilePic" style = "height: 4vw;" src = "{{profilePic}}"> {{username}}</h2>


<a href = "/user/create-post">Create a post!</a>

<form action = "/user/logout" method = "POST">
    <button>LOGOUT</button>
</form>

                 
                    